

$footerSocial:
				(facebook, $facebook),
				(twitter, $twitter),
				(instagram, $instagram),
				(vk, $vkontakte),
				(youtube, $youtube),
				(google-plus, $googlePlus),
				(odnoklassniki, $odnoklassniki),
				(linkedin, $linkedin),
				(paper-plane, $telegram);

@each $class, $color in $footerSocial {
	.contact_scl_ico i.fa-#{$class} {
		background: $color;
	}
}






