
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #1d1d1e;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


strong,
b {
	font-weight: 700;
}







/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-100 {
	height: 100%;
}

.ov-h {
	overflow: hidden !important;
}

.bg-cover {
	background: center no-repeat;
	background-size: cover;
}

.bg-contain {
	background: center no-repeat;
	background-size: contain;
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}
/*========== Internet Explorer ==========*/










/* Standards
=================================================================*/
.pos-r {
	position: relative;
}
.z-1 {
	z-index: 1;
}
.z-3 {
	z-index: 3;
}
.z-5 {
	z-index: 5;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.z-30 {
	z-index: 30;
}
.z-50 {
	z-index: 50;
}
.z-100 {
	z-index: 100;
}
.z-110 {
	z-index: 110;
}
.z-120 {
	z-index: 120;
}
.z-1000000 {
	z-index: 1000000;
}


@at-root .base_title {
	text-align: center;

	@at-root .base_title_txt {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 800;
	}


	@at-root .base_title_img {
		margin-bottom: 20px;

		img {
			max-width: 180px;
			max-height: 50px;
		}
	}


	@at-root .base_title_line {
		margin-top: 10px;

		img {

		}
	}
}

/*========== Standards ==========*/


















/* Header
*****************************************************************************************************/
@at-root .header {
	position: relative;
	z-index: 10;

	@at-root .hdr_inner {
		padding: 40px 0;
		background: url("../img/home_header_bg.png") center bottom / cover;

		@at-root .hdr_menu_col {

			@at-root .hdr_menu {

				@at-root .hdr_menu_ls {
					display: flex;

					> li {

						& + li {
							margin-left: 30px;
						}


						a {
							padding: 8px 0;
							position: relative;
							font-size: 15px;

							&:before {
								content: '';
								display: block;
								width: 6px;
								height: 6px;
								border-radius: 100px;
								position: absolute;
								left: 0;
								right: 0;
								bottom: 0;
								margin: auto;
								opacity: 0;
								background: #7e57c2;
							}
						}


						&.active a::before,
						a:hover:before {
							opacity: 1;
						}
					}
				}
			}
		}


		@at-root .hdr_logo_col {
			padding: 0;

			@at-root .hdr_logo {
				display: flex;
				justify-content: center;

				a {

					img {
						max-width: 200px;
					}
				}
			}
		}


		@at-root .hdr_lang_col {

			@at-root .hdr_lang {
				display: flex;
				justify-content: flex-end;

				@at-root .hdr_lang_ls {
					display: flex;

					> li {

						& + li {
							margin-left: 15px;
						}


						a {
							font-size: 15px;
							color: #8d959e;
						}


						&.active a,
						a:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
}
/*********** Header ***********/















/* Main
*****************************************************************************************************/
@at-root .region_sec {

	@at-root .region_bx {
		position: relative;

		@at-root .region_bg_bx {

			@at-root .region_img {
				display: block;
				position: absolute;

				&.bg {
					width: 100%;
					z-index: 3;

					&.top {
						bottom: 100%;
					}


					&.bottom {
						top: 100%;
					}
				}


				&.wave {
					z-index: 5;

					&.top {
						right: 0;
						top: -180px;
					}


					&.bottom {
						left: 0;
						bottom: -300px;
					}
				}
			}
		}
	}
}


@at-root .main {

	/* First Banner
	=================================================================*/
	@at-root .first_banner_sec {
		padding-top: 50px;

		@at-root .first_banner_inr {
			padding-top: 100px;
			padding-bottom: 270px;
			position: relative;
			background: center top / cover;

			@at-root .first_banner_bx {
				position: relative;

				@at-root .first_banner {

					@at-root .first_banner_it {

						@at-root .first_banner_txt_col {

							@at-root .first_banner_txt {
								padding-top: 50px;
								font-weight: 400;

								@at-root .first_banner_txt_ttl {
									margin-bottom: 30px;
									line-height: 1;
									font-size: 48px;
								}


								@at-root .first_banner_txt_cnt {
									line-height: 1;
									font-size: 26px;

									p {

										&.indent {
											text-indent: 90px;
										}
									}
								}
							}
						}


						@at-root .first_banner_img_col {

							@at-root .first_banner_img {
								text-align: center;

								img {
									max-height: 350px;
								}
							}
						}
					}
				}


				@at-root .first_banner_nav {

					@at-root .first_banner_btn {
						width: 40px;
						height: 40px;
						font-size: 30px;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						cursor: pointer;

						i {

						}


						&.prev {
							left: 20px;
						}


						&.next {
							right: 20px;
						}
					}
				}
			}


			@at-root .first_banner_mouse {
				position: absolute;
				bottom: 160px;
				left: 0;
				right: 0;
				text-align: center;

				img {

				}
			}
		}
	}
	/*========== First Banner ==========*/



	/* Home About
	=================================================================*/
	@at-root .home_about_sec {

		@at-root .home_about_bx {

			@at-root .home_about_bg_bx {

				@at-root .home_about_bg_flower {
					display: block;
					width: 350px;
					position: absolute;
					right: 0;
					top: 20px;
				}
			}


			@at-root .home_about {
				color: #fff;

				@at-root .home_about_txt {

					@at-root .home_about_ttl {

					}


					@at-root .home_about_cnt {
						text-align: center;
						font-size: 15px;

						p {
							margin-bottom: 15px;
						}
					}
				}


				@at-root .home_about_img {
					margin-top: 60px;
					padding: 60px 0;
					border-top: 1px solid #6c47ac;

					.row {
						justify-content: space-around;
					}


					@at-root .home_about_img_col {
						min-width: 200px;
						max-width: 300px;
						padding: 15px;

						@at-root .home_about_ico {
							text-align: center;

							@at-root .home_about_ico_img {
								margin-bottom: 10px;

								img {

								}
							}


							@at-root .home_about_ico_txt {
								font-size: 15px;
								font-weight: 700;
								color: #c5a1ff;
							}
						}
					}
				}
			}
		}
	}
	/*========== Home About ==========*/



	/* Second Banner
	=================================================================*/
	@at-root .second_banner_sec {

		@at-root .second_banner_bx {
			position: relative;

			@at-root .second_banner_prod_bx {

				@at-root .second_banner_prod {
					max-height: 490px;
					position: absolute;
					bottom: 0;
					left: 25%;
					z-index: 6;
					opacity: 0;
					transition: all .3s;

					&.active {
						opacity: 1;
					}
				}
			}


			@at-root .second_banner {
				background: #faf2f0;

				@at-root .second_banner_bg {
					text-align: right;

					img {
						min-height: 500px;
						object-fit: cover;
					}
				}
			}


			@at-root .second_banner_nav {

				@at-root .second_banner_btn {
					width: 40px;
					height: 40px;
					font-size: 30px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					cursor: pointer;

					i {

					}


					&.prev {
						left: 20px;
					}


					&.next {
						right: 20px;
					}
				}
			}
		}
	}
	/*========== Second Banner ==========*/



	/* Home Partner
	=================================================================*/
	@at-root .home_part_bg {

	}


	@at-root .home_part {

		@at-root .home_part_ttl {

		}


		@at-root .home_part_bnr_bx {
			padding: 0 30px;
			position: relative;

			@at-root .home_part_bnr {

				.owl-wrapper {
					display: flex !important;
					align-items: center;
				}


				@at-root .home_part_bnr_img {
					padding: 0 15px;
					text-align: center;

					img {
						max-height: 70px;
					}
				}
			}


			@at-root .home_part_bnr_nav {

				@at-root .home_part_bnr_btn {
					width: 30px;
					height: 40px;
					font-size: 18px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					cursor: pointer;
					color: #cec9d5;

					&:hover {
						color: #000;
					}


					i {

					}


					&.prev {
						justify-content: flex-start;
						left: 0;
					}


					&.next {
						justify-content: flex-end;
						right: 0;
					}
				}
			}
		}
	}
	/*========== Home Partner ==========*/



	/* Footer Base
	=================================================================*/
	@at-root .foot_base_bx {

		@at-root .foot_base_hr {
			margin-top: 100px;
			margin-bottom: 0;
			border-color: rgba(#000, .06);
		}


		@at-root .foot_base {
			padding: 50px 0;

			@at-root .foot_base_col {
				padding: 15px;

				@at-root .foot_base_logo {
					display: flex;

					a {
						max-width: 200px;

						img {

						}
					}
				}


				@at-root .foot_base_it {

					@at-root .foot_base_it_ttl {
						margin-bottom: 30px;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 800;
					}


					@at-root .foot_base_it_cnt {

						@at-root .foot_base_menu {

							> li {

								& + li {
									margin-top: 15px;
								}


								a {
									display: inline;
									font-weight: 400;
									color: #8d959e;

									&:hover {
										color: $colorBase;
									}
								}
							}
						}


						@at-root .foot_base_ctt {

							> li {
								display: flex;
								align-items: baseline;
								text-align: left;
								font-weight: 400;
								color: #8d959e;


								& + li {
									margin-top: 15px;
								}


								i {
									flex: 0 0 auto;
									width: 24px;
									color: $colorBase;
								}


								.txt {

									p {

									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*========== Footer Base ==========*/

}
/*********** Main ***********/















/* Footer
*****************************************************************************************************/
@at-root .footer {
	background: #57388d;
	color: #fff;

	@at-root .foot_copy_bx {
		display: flex;
		justify-content: space-between;
		padding: 25px 0;
		font-size: 13px;

		@at-root .foot_copy {

		}


		@at-root .foot_made {

			a {
				display: inline;
				text-decoration: underline;

				&:hover {
					color: $colorBase;
				}
			}
		}
	}
}
/*********** Footer ***********/














/* Catalog One
*****************************************************************************************************/
@at-root .cat_one_nav {

	@at-root .cat_one_nav_menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100px;
		position: fixed;
		right: 50px;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);

		> li {

			& + li {
				margin-top: 20px;
			}


			a {
				width: 60px;
				height: 60px;
				padding: 17px 7px;
				border: 0px solid rgba(255, 255, 255, .53);
				border-radius: 50%;
				transition: all .3s;
				box-shadow: 0 0 16px #f1e9fd;
				background: #fff padding-box;

				img {
					max-height: 100%;
				}
			}


			&.active a,
			a:hover {
				width: 80px;
				height: 80px;
				border-width: 6px;
			}
		}
	}
}




@at-root .cat_one {

	@at-root .cat_one_ttl {

	}


	@at-root .cat_one_cnt {

		@at-root .cat_one_type_bx {
			margin-bottom: 40px;

			@at-root .cat_one_type {

				& + & {
					margin-top: 40px;
				}


				@at-root .cat_one_type_ttl {
					margin-bottom: 20px;
					text-align: center;
					text-transform: uppercase;
					font-size: 18px;
					font-weight: 800;
				}


				@at-root .cat_one_type_cnt {

					@at-root .cat_one_it_row {

						@at-root .cat_one_it_col {
							padding: 15px;

							@at-root .cat_one_it {
								height: 100%;
								position: relative;
								top: 0;
								transition: all .3s;
								background: #fff;

								&:hover {
									top: -10px;
									box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.07);
								}


								@at-root .cat_one_it_img {
									position: relative;

									&:hover {
										background: #fcfaff;
									}


									@at-root .cat_one_it_bnr_bx {
										position: relative;
										z-index: 5;

										@at-root .cat_one_it_bnr {

											@at-root .cat_one_it_bnr_img {
												height: 220px;
												padding: 15px 30px;

												img {
													max-height: 100%;
												}
											}
										}


										@at-root .cat_one_it_bnr_nav {

											@at-root .cat_one_it_bnr_btn {
												width: 20px;
												height: 40px;
												position: absolute;
												top: 0;
												bottom: 0;
												margin: auto;
												z-index: 5;
												cursor: pointer;
												font-size: 20px;

												i {

												}


												&.prev {
													left: 0;
												}


												&.next {
													right: 0;
												}
											}
										}
									}


									@at-root .cat_one_it_img_hint {
										position: absolute;
										bottom: 5px;
										left: 0;
										right: 0;
										opacity: 0;
										text-align: center;
										font-size: 12px;
										font-weight: 700;
										transition: all .3s;
										color: #7e57c2;

										i {

										}


										.txt {

										}


										@at-root .cat_one_it_img:hover & {
											opacity: 1;
										}
									}
								}


								@at-root .cat_one_it_txt {
									padding: 15px;
									text-align: center;

									@at-root .cat_one_it_line {
										margin-bottom: 15px;

										img {

										}
									}


									@at-root .cat_one_it_name {
										margin-bottom: 5px;
										font-size: 18px;
										font-weight: 800;
									}


									@at-root .cat_one_it_num {
										color: #959ca5;
									}
								}
							}
						}
					}
				}
			}
		}


		@at-root .cat_one_btn_bx {
			display: flex;
			justify-content: center;

			@at-root .cat_one_btn {
				padding: 14px 30px;
				border-radius: 100px;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 12px;
				transition: all .3s;
				box-shadow: 0px 15px 30px -5px rgba($colorBase, .6);
				@include ButtonLight($colorBase);
				color: #fff !important;
			}
		}
	}
}
/*********** Catalog One ***********/










/* Catalog All
*****************************************************************************************************/
@at-root .cat_all_base_bx {
	display: flex;
	justify-content: center;

	@at-root .cat_all_base {
		position: relative;

		@at-root .cat_all_flower {
			width: 100%;
			max-width: 650px;
		}


		@at-root .cat_all_core {
			width: 310px;
			height: 310px;
			padding: 50px;
			border: 13px solid #f6e2fe;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			box-shadow: 0 0 16px #f4effc;
			background: #fff;

			@at-root .cat_all_logo {
				max-height: 100%;
			}


			@at-root .cat_all_it {
				width: 130px;
				height: 130px;
				padding: 35px 15px;
				border-radius: 50%;
				position: absolute;
				z-index: 3;
				box-shadow: 0 0 16px #f4effc;
				transition: all .3s;
				background: #fff;

				&.left {
					left: -80px;
				}


				&.right {
					right: -80px;
				}


				&.top {
					top: 0;

					&.left.right {
						margin: auto;
						margin-top: -80px;
					}
				}


				&.bottom {
					bottom: -50px;

					&.left {
						margin-left: 40px;
					}


					&.right {
						margin-right: 40px;
					}
				}


				&.active,
				&:hover {
					box-shadow: 0 0 0 9px rgba(#e9d2f4, 0.53);
				}


				img {
					max-height: 100%;
				}
			}
		}
	}
}
/*********** Catalog All ***********/













/* Contact
*****************************************************************************************************/
@at-root .contact_bnr_sec {

	@at-root .contact_bnr {
		margin-top: -60px;
		position: relative;

		@at-root .contact_bnr_img {
			display: block;
			width: 100%;
			height: 750px;
			object-fit: cover;
		}


		@at-root .contact_bnr_capt {
			margin-top: -40px;
			padding: 0 15px;
			position: absolute;
			z-index: 5;
			line-height: 1;
			text-align: center;

			.name {
				margin-bottom: 25px;
				font-size: 48px;
				font-weight: 700;
			}


			.txt {
				font-size: 26px;
			}
		}
	}
}




@at-root .contact_info {
	padding-top: 30px;
	padding-bottom: 100px;

	@at-root .contact_info_it_bx {
		display: flex;
		justify-content: space-around;

		@at-root .contact_info_it {
			padding: 15px;
			text-align: center;

			@at-root .contact_info_img {
				margin-bottom: 20px;

				img {

				}
			}


			@at-root .contact_info_txt {
				font-size: 15px;

				p {

				}
			}
		}
	}
}



@at-root .contact_map_sec {

	@at-root .contact_map {

		img {

		}
	}
}




@at-root .contact_scl {

	@at-root .contact_scl_col {
		padding: 15px;

		@at-root .contact_scl_it {

			@at-root .contact_scl_ico {
				margin-bottom: 35px;

				i {
					display: block;
					width: 100px;
					height: 100px;
					line-height: 100px;
					border-radius: 50%;
					text-align: center;
					font-size: 28px;
					transition: all .3s;
					background: #ddd;
					color: #fff;


					@at-root .contact_scl_it:hover & {
						box-shadow: 0 0 0 8px rgba(233, 210, 244, .53);
					}
				}
			}


			@at-root .contact_scl_txt {
				text-align: center;
				font-size: 15px;


				@at-root .contact_scl_it:hover & {
					text-decoration: underline;
				}
			}
		}
	}
}
/*********** Contact ***********/



















/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



