@import 'variables';
@import 'mixins';



/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {


	/*========== 480px (Min Width) ==========*/
}





/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {


	/*========== 768px (Min Width) ==========*/
}





/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {


	/*========== 992px (Min Width) ==========*/
}





/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {


	/*========== 1200px (Min Width) ==========*/
}





/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {


	/*========== 1590px (Min Width) ==========*/
}















/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {
	.cat_one_nav_menu {
		right: 10px;
	}

	/*========== 1589px (Max Width) ==========*/
}





/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {


	/*========== 1199px (Max Width) ==========*/
}





/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {
	.hdr_menu {
		display: flex;
		justify-content: center;
	}
	.hdr_logo_col {
		margin: 30px 0;
	}
	.hdr_lang {
		justify-content: center;
	}


	.first_banner_sec {
		padding-top: 0;
	}
	.first_banner_txt {
		padding-top: 0;
		text-align: center;
	}
	.first_banner_txt_cnt p.indent {
		text-indent: 0;
	}
	.first_banner_nav {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
	.first_banner_btn {
		position: static;
		margin: 0;
	}

	.first_banner_inr {
		padding-bottom: 100px;
	}
	.region_img.wave.top {
		top: -100px;
	}
	.region_img.wave.bottom {
		bottom: -200px;
	}


	.foot_base_logo {
		justify-content: center;
	}


	.cat_one_nav {
		margin-bottom: 40px;
	}
	.cat_one_nav_menu {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: auto;
		position: relative;
		top: auto;
		right: auto;
		transform: none;
	}
	.cat_one_nav_menu > li + li {
		margin-top: 0;
	}
	.cat_one_nav_menu > li {
		padding: 10px;
	}
	.cat_one_nav_menu>li a {
		width: 80px;
		height: 80px;
	}


	.contact_info_it_bx {
		flex-direction: column;
	}
	.contact_info_it + .contact_info_it {
		margin-top: 20px;
	}



	/*========== 991px (Max Width) ==========*/
}





/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {
	.region_img.wave.bottom {
		bottom: -100px;
	}


	.second_banner_prod {
		max-height: 370px;
		padding: 0 20px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.second_banner_bg img {
		opacity: 0;
	}
	.second_banner_btn {
		display: none;
	}

	.foot_base_col {
		text-align: center;
	}
	.foot_base_ctt > li {
		justify-content: center;
	}


	.cat_all_core {
		width: 200px;
		height: 200px;
		padding: 30px;
	}
	.cat_all_it {
		width: 80px;
		height: 80px;
		padding: 20px 10px;

		&.left {
			left: -50px;
		}


		&.right {
			right: -50px;
		}


		&.top {

			&.left.right {
				margin-top: -60px;
			}
		}


		&.bottom {
			bottom: -30px;

			&.left {
				margin-left: 30px;
			}


			&.right {
				margin-right: 30px;
			}
		}
	}


	.contact_bnr_img {
		height: 500px;
	}
	.contact_bnr_capt {
		margin-top: -20px;
	}

	/*========== 767px (Max Width) ==========*/
}





/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
	.first_banner_txt_ttl {
		font-size: 34px;
	}
	.first_banner_txt_cnt {
		font-size: 20px;
	}

	.first_banner_inr {
		padding-bottom: 50px;
	}
	.region_img.wave.top {
		top: -40px;
	}
	.region_img.wave.bottom {
		bottom: 0;
	}


	.home_part_bnr_img {
		padding: 0;
	}

	/*========== 479px (Max Width) ==========*/
}



